.partners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 0 40px;

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 0 40px;
    background-color: #201c29;
    color: #a1a1af;
    border-radius: 16px;
    height: 100%;

    &__icon {
      width: 130px;
      margin-bottom: 20px;

      &._codepen {
        max-width: 100%;
        width: 200px;
        height: 38px;
        fill: none;
        stroke: #fff;
        stroke-width: 2.3;
        stroke-linejoin: round;
        stroke-linecap: round;
      }

      &._mt {
        width: 120px;
        height: 52px;
      }
    }

    &__description{
      font-size: 14px;
      color: @light-color;
      text-align: center;
    }
  }
  @media all and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}
